* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$limeGreen: hsl(163, 72%, 41%);
$brightRed: hsl(356, 69%, 56%);
$facebook: hsl(208, 92%, 53%);
$twitter: hsl(203, 89%, 53%);
$instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
$youtube: hsl(348, 97%, 39%);
$lightMode: hsl(230, 22%, 72%);
$lightCard: rgb(228, 231, 243);
$heading: hsl(228, 32%, 68%);

:root {
  --primaryColorOne: hsl(232, 19%, 15%);
  --primaryColorTwo: hsl(230, 17%, 14%);
  --secondaryColor: white;
  --toggleOne: hsl(210, 78%, 56%);
  --toggleTwo: hsl(146, 68%, 55%);
}
.night {
  --primaryColorOne: white;
  // hsl(228, 34%, 66%);
  --primaryColorTwo: white;
  --secondaryColor: black;
  --toggleOne: hsl(228, 34%, 66%);
  --toggleTwo: hsl(228, 34%, 66%);
}
@mixin flex {
  display: flex;
  align-items: center;
}

body {
  background-color: #333;
  background-image: linear-gradient(
    var(--primaryColorOne),
    var(--primaryColorTwo)
  );
}
.container {
  width: 50rem;
  margin: 2rem auto;
  p {
    color: hsl(228, 22%, 55%);
  }
}

.head {
  width: 100%;
  h2 {
    color: var(--secondaryColor);
  }

  .sub-head {
    @include flex();
    justify-content: space-between;
    margin-top: 0.5rem;
  }
  .hr {
    display: none;
  }
  .mode {
    @include flex();
    p {
      margin-right: 0.5rem;
    }
  }
}

.switch {
  width: 2rem;
  height: 1rem;
  border-radius: 1rem;
  display: inline-block;
  position: relative;
  background-image: linear-gradient(var(--toggleOne), var(--toggleTwo));
}
.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.slider:after {
  content: "";
  width: 0.8rem;
  border-radius: 100%;
  height: 0.8rem;
  position: absolute;
  background-color: hsl(230, 17%, 14%);
  transition: all 0.4s;
  top: 0.1rem;
  left: 0.1rem;
}
input {
  opacity: 1;
  width: 0;
  height: 0;
}
input:checked + .slider:after {
  left: 1rem;
}

.social-tab {
  display: grid;
  width: 100%;
  margin: 2rem 0;
  gap: 1.5rem;
  grid-template-columns: repeat(4, minmax(11rem, 1fr));
}

.socials {
  @include flex();
  padding-bottom: 1rem;
  gap: 1rem;
  flex-direction: column;
  background-color: hsl(228, 28%, 20%);
  border-radius: 2px;
  position: relative;

  h1 {
    color: var(--secondaryColor);
  }

  .facebook {
    width: 100%;
    height: 5px;
    border-radius: 1px;
    background-color: $facebook;
  }
  .twitter {
    @extend .facebook;
    background-color: $twitter;
  }
  .instagram {
    @extend .facebook;
    background-image: linear-gradient(
      90deg,
      hsl(37, 97%, 70%),
      hsl(329, 70%, 58%)
    );
  }
  .youtube {
    @extend .facebook;
    background-color: $youtube;
  }
  .social-handle {
    @include flex();
    font-size: 12px;
    color: $heading;

    .social-icon {
      margin-right: 0.5rem;
    }
  }
  .followers {
    @include flex();
    //margin: 1.1rem 0;
    flex-direction: column;
    h1 {
      font-size: 3rem;
    }
    p {
      letter-spacing: 3px;
    }
  }
}

.social-reaction {
  @include flex();
  font-size: 14px;
  p {
    margin-left: 0.5rem;
  }
  .light-red {
    color: $brightRed;
  }
  .green {
    color: $limeGreen;
  }
}
.overview > h3 {
  color: var(--secondaryColor);
}

.social-overview {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: hsl(228, 28%, 20%);
  padding: 1rem;
  h3 {
    color: var(--secondaryColor);
  }
}
.light-mode {
  background-color: $lightCard;
}
.socials-view {
  @include flex();
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    padding: 2rem;
    p {
      font-weight: bold;
    }
  }
  .social-tab {
    grid-template-columns: 100%;
  }
  .head {
    .sub-head {
      align-items: flex-start;
      flex-direction: column;
      justify-content: space-between;
    }
    .hr {
      display: block;
      width: 100%;
      border: none;
      appearance: none;
      height: 2px;
      background-color: rgb(88, 85, 85);
      margin: 1rem 0;
    }
    .mode {
      width: 100%;
      justify-content: space-between;
      p {
        font-weight: bold;
      }
    }
  }
}
